{
    "swagger": "2.0",
    "info": {
        "title": "\u63a5\u53e3\u6587\u6863",
        "description": "\u63a5\u53e3\u76f8\u5173\u7684Swagger\u6587\u6863",
        "version": "1.0"
    },
    "host": "dev2.people71.com//github/educate/advanced/api/web",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/v1/courses": {
            "get": {
                "tags": [
                    "Course"
                ],
                "summary": "\u8bfe\u7a0b\u5217\u8868",
                "description": "\u83b7\u53d6\u6240\u6709\u8bfe\u7a0b\u5217\u8868(\u6240\u6709\u5b57\u6bb5\u5747\u53ef\u4f5c\u4e3a\u53c2\u6570\u4f5c\u6a21\u7cca\u67e5\u8be2)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "\u5206\u9875",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "\u67e5\u8be2\u6570\u91cf",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "type_id",
                        "in": "query",
                        "description": "\u8bfe\u7a0b\u7c7b\u578bID",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "instructor_id",
                        "in": "query",
                        "description": "\u8bfe\u7a0b\u5bfc\u5e08ID",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "\u8bfe\u7a0b\u540d\u79f0(\u6a21\u7cca\u67e5\u8be2)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "level",
                        "in": "query",
                        "description": "\u8bfe\u7a0b\u96be\u5ea6",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u8bfe\u7a0b\u5217\u8868"
                    }
                }
            }
        },
        "/v1/courses/{num}": {
            "get": {
                "tags": [
                    "Course"
                ],
                "summary": "\u8bfe\u7a0b\u8be6\u60c5",
                "description": "\u83b7\u53d6\u6240\u6709\u8bfe\u7a0b\u8be6\u7ec6\u4fe1\u606f",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "num",
                        "in": "path",
                        "description": "\u8bfe\u7a0b\u7f16\u53f7",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u8bfe\u7a0b\u8be6\u60c5"
                    }
                }
            }
        },
        "/v1/courses/lessons/{id}": {
            "get": {
                "tags": [
                    "Course"
                ],
                "summary": "\u7ae0\u8282\u8be6\u60c5",
                "description": "\u83b7\u53d6\u7ae0\u8282\u7684\u8be6\u7ec6\u4fe1\u606f",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u7ae0\u8282ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u7ae0\u8282\u8be6\u60c5"
                    }
                }
            }
        },
        "/v1/courses/try": {
            "post": {
                "tags": [
                    "Course"
                ],
                "summary": "\u8bfe\u7a0b\u8bd5\u7528",
                "description": "\u8bfe\u7a0b\u8bd5\u7528",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "\u7528\u6237ID",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "course_id",
                        "in": "formData",
                        "description": "\u8bfe\u7a0bID",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u8fd4\u56de\u4fe1\u606f"
                    }
                }
            }
        },
        "/v1/courses/buy": {
            "post": {
                "tags": [
                    "Course"
                ],
                "summary": "\u8bfe\u7a0b\u8d2d\u4e70",
                "description": "\u8bfe\u7a0b\u8d2d\u4e70",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "\u7528\u6237ID",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "course_id",
                        "in": "formData",
                        "description": "\u8bfe\u7a0bID",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u8fd4\u56de\u4fe1\u606f"
                    }
                }
            }
        },
        "/v1/favorites": {
            "get": {
                "tags": [
                    "Favorite"
                ],
                "summary": "\u7528\u6237\u6536\u85cf",
                "description": "\u83b7\u53d6\u7528\u6237\u6536\u85cf\u8bfe\u7a0b\u5217\u8868",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "\u7528\u6237ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u6536\u85cf\u5217\u8868"
                    }
                }
            },
            "post": {
                "tags": [
                    "Favorite"
                ],
                "summary": "\u6dfb\u52a0\u7528\u6237\u6536\u85cf",
                "description": "\u6dfb\u52a0\u7528\u6237\u6536\u85cf",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "\u7528\u6237ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "course_id",
                        "in": "formData",
                        "description": "\u8bfe\u7a0bID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u7528\u6237\u4fe1\u606f"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Favorite"
                ],
                "summary": "\u79fb\u9664\u7528\u6237\u6536\u85cf",
                "description": "\u79fb\u9664\u7528\u6237\u6536\u85cf",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "\u7528\u6237ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "course_id",
                        "in": "formData",
                        "description": "\u8bfe\u7a0bID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u7528\u6237\u4fe1\u606f"
                    }
                }
            }
        },
        "/v1/instructors": {
            "get": {
                "tags": [
                    "Instructor"
                ],
                "summary": "\u6559\u5e08\u5217\u8868",
                "description": "\u83b7\u53d6\u6559\u5e08\u5217\u8868\uff08\u6559\u5e08\u6570\u636e\u4e2d\u7684\u5b57\u6bb5\u5747\u53ef\u7528\u4f5c\u7b5b\u9009\u548c\u6392\u5e8f\uff09",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "description": "\u5206\u9875",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "\u67e5\u8be2\u6570\u91cf",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "\u6807\u7b7e",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u6559\u5e08\u5217\u8868"
                    }
                }
            }
        },
        "/v1/instructors/{id}": {
            "get": {
                "tags": [
                    "Instructor"
                ],
                "summary": "\u6559\u5e08\u8be6\u60c5",
                "description": "\u6839\u636eID\u83b7\u53d6\u6559\u5e08\u4fe1\u606f",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u6559\u5e08\u8be6\u60c5"
                    }
                }
            }
        },
        "/v1/medias/pronunciations/{word}": {
            "get": {
                "tags": [
                    "Media"
                ],
                "summary": "\u83b7\u53d6\u8bfb\u97f3",
                "description": "\u6839\u636e\u5355\u8bcd\u83b7\u53d6\u8bfb\u97f3",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "word",
                        "in": "path",
                        "description": "\u5355\u8bcd",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u5355\u8bcd\u4fe1\u606f"
                    }
                }
            }
        },
        "/v1/pages": {
            "get": {
                "tags": [
                    "Page"
                ],
                "summary": "\u5168\u90e8\u9875\u9762",
                "description": "\u5168\u90e8\u9875\u9762",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "return": {
                        "description": "\u9875\u9762\u5217\u8868"
                    }
                }
            }
        },
        "/v1/pages/about-us": {
            "get": {
                "tags": [
                    "Page"
                ],
                "summary": "\u5173\u4e8e\u6211\u4eec",
                "description": "\u5173\u4e8e\u6211\u4eec",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "return": {
                        "description": "\u5173\u4e8e\u6211\u4eec"
                    }
                }
            }
        },
        "/v1/pages/company-profile": {
            "get": {
                "tags": [
                    "Page"
                ],
                "summary": "\u516c\u53f8\u7b80\u4ecb",
                "description": "\u516c\u53f8\u7b80\u4ecb",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "return": {
                        "description": "\u516c\u53f8\u7b80\u4ecb"
                    }
                }
            }
        },
        "/v1/pages/user-agreement": {
            "get": {
                "tags": [
                    "Page"
                ],
                "summary": "\u7528\u6237\u534f\u8bae",
                "description": "\u7528\u6237\u534f\u8bae",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "return": {
                        "description": "\u7528\u6237\u534f\u8bae"
                    }
                }
            }
        },
        "/v1/pages/payment-agreement": {
            "get": {
                "tags": [
                    "Page"
                ],
                "summary": "\u652f\u4ed8\u534f\u8bae",
                "description": "\u652f\u4ed8\u534f\u8bae",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "return": {
                        "description": "\u652f\u4ed8\u534f\u8bae"
                    }
                }
            }
        },
        "/v1/pages/tutorial": {
            "get": {
                "tags": [
                    "Page"
                ],
                "summary": "\u5b66\u4e60\u6559\u7a0b",
                "description": "\u5b66\u4e60\u6559\u7a0b",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "return": {
                        "description": "\u5b66\u4e60\u6559\u7a0b"
                    }
                }
            }
        },
        "/v1/types": {
            "get": {
                "tags": [
                    "Course"
                ],
                "summary": "\u8bfe\u7a0b\u7c7b\u578b",
                "description": "\u83b7\u53d6\u6240\u6709\u8bfe\u7a0b\u7c7b\u578b",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "\u5206\u9875",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "\u67e5\u8be2\u6570\u91cf",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u8bfe\u7a0b\u7c7b\u578b\u5217\u8868"
                    }
                }
            }
        },
        "/v1/users": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "\u7528\u6237\u5217\u8868",
                "description": "\u83b7\u53d6\u7528\u6237\u5217\u8868\u8868\uff08\u6570\u636e\u4e2d\u7684\u5b57\u6bb5\u5747\u53ef\u7528\u4f5c\u7b5b\u9009\u548c\u6392\u5e8f\uff09",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "\u5206\u9875",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "\u67e5\u8be2\u6570\u91cf",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sex",
                        "in": "query",
                        "description": "\u6027\u522b",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "\u56fd\u5bb6",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "\u57ce\u5e02",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u7528\u6237\u5217\u8868"
                    }
                }
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "\u7528\u6237\u6ce8\u518c",
                "description": "\u521b\u5efa\u65b0\u7528\u6237",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u6ce8\u518c\u90ae\u7bb1",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "nickname",
                        "in": "formData",
                        "description": "\u6635\u79f0",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "nickname",
                        "in": "formData",
                        "description": "\u6635\u79f0",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sex",
                        "in": "formData",
                        "description": "\u6027\u522b(1:\u7537\uff0c0:\u5973)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "avatar",
                        "in": "formData",
                        "description": "\u5934\u50cf(URL)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "\u7535\u8bdd",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "country",
                        "in": "formData",
                        "description": "\u56fd\u5bb6",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "formData",
                        "description": "\u57ce\u5e02",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "adderss_1",
                        "in": "formData",
                        "description": "\u5730\u57401",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "adderss_2",
                        "in": "formData",
                        "description": "\u5730\u57402",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u7528\u6237\u4fe1\u606f"
                    }
                }
            }
        },
        "/v1/users/{id}": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "\u7528\u6237\u4fe1\u606f",
                "description": "\u7528\u6237\u4fe1\u606f",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u7528\u6237ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u7528\u6237\u5217\u8868"
                    }
                }
            },
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "\u4fee\u6539\u7528\u6237\u4fe1\u606f",
                "description": "\u4fee\u6539\u7528\u6237\u4fe1\u606f",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u7528\u6237ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "nickname",
                        "in": "formData",
                        "description": "\u6635\u79f0",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sex",
                        "in": "formData",
                        "description": "\u6027\u522b(1:\u7537\uff0c0:\u5973)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "avatar",
                        "in": "formData",
                        "description": "\u5934\u50cf(URL)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "\u7535\u8bdd",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "country",
                        "in": "formData",
                        "description": "\u56fd\u5bb6",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "formData",
                        "description": "\u57ce\u5e02",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "adderss_1",
                        "in": "formData",
                        "description": "\u5730\u57401",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "adderss_2",
                        "in": "formData",
                        "description": "\u5730\u57402",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u7528\u6237\u4fe1\u606f"
                    }
                }
            }
        },
        "/v1/users/login": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "\u7528\u6237\u767b\u5f55",
                "description": "\u7528\u6237\u767b\u5f55",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u90ae\u7bb1",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u7528\u6237\u4fe1\u606f"
                    }
                }
            }
        },
        "/v1/users/modify-password": {
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "\u4fee\u6539\u5bc6\u7801",
                "description": "\u4fee\u6539\u5bc6\u7801",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u90ae\u7bb1",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u65e7\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password_new",
                        "in": "formData",
                        "description": "\u65b0\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password_again",
                        "in": "formData",
                        "description": "\u518d\u6b21\u8f93\u5165\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u7528\u6237\u4fe1\u606f"
                    }
                }
            }
        },
        "/v1/users/courses": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "\u7528\u6237\u8bfe\u7a0b",
                "description": "\u83b7\u53d6\u7528\u6237\u8bfe\u7a0b\u5217\u8868(\u62e5\u6709\u7684\u8bfe\u7a0b\u5217\u8868)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "\u7528\u6237ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "return": {
                        "description": "\u8bfe\u7a0b\u5217\u8868"
                    }
                }
            }
        }
    },
    "definitions": {
        "Course": {
            "properties": {
                "num": {
                    "description": "\u8bfe\u7a0b\u53f7",
                    "type": "string"
                },
                "price": {
                    "description": "\u8bfe\u7a0b\u4ef7\u683c",
                    "type": "integer"
                },
                "instructor_id": {
                    "description": "\u5bfc\u5e08ID",
                    "type": "integer"
                },
                "type_id": {
                    "description": "\u5206\u7c7bID",
                    "type": "integer"
                },
                "image": {
                    "description": "\u5c01\u9762",
                    "type": "string"
                },
                "level": {
                    "description": "\u8bfe\u7a0b\u96be\u5ea6",
                    "type": "integer"
                },
                "abstract": {
                    "description": "\u8bfe\u7a0b\u7b80\u4ecb",
                    "type": "string"
                },
                "content": {
                    "description": "\u8bfe\u7a0b\u5185\u5bb9",
                    "type": "string"
                },
                "requirements_prerequisites": {
                    "description": "\u8bfe\u7a0b\u8981\u6c42-\u524d\u63d0",
                    "type": "string"
                },
                "requirements_textbooks": {
                    "description": "\u8bfe\u7a0b\u8981\u6c42-\u6559\u79d1\u4e66",
                    "type": "string"
                },
                "requirements_software": {
                    "description": "\u8bfe\u7a0b\u8981\u6c42-\u8f6f\u4ef6",
                    "type": "string"
                },
                "requirements_hardware": {
                    "description": "\u8bfe\u7a0b\u8981\u6c42-\u786c\u4ef6",
                    "type": "string"
                },
                "next_term_at": {
                    "description": "\u4e0b\u5b66\u671f\u5f00\u5b66\u65f6\u95f4",
                    "type": "integer"
                },
                "created_at": {
                    "description": "\u521b\u5efa\u65f6\u95f4",
                    "type": "integer"
                },
                "updated_at": {
                    "description": "\u66f4\u65b0\u65f6\u95f4",
                    "type": "integer"
                }
            }
        },
        "CourseLesson": {
            "properties": {
                "id": {
                    "description": "ID",
                    "type": "string"
                },
                "course_id": {
                    "description": "\u8bfe\u7a0bID",
                    "type": "integer"
                },
                "lesson": {
                    "description": "\u7ae0\u8282\u53f7",
                    "type": "integer"
                },
                "title": {
                    "description": "\u6807\u9898",
                    "type": "string"
                },
                "abstract": {
                    "description": "\u7b80\u4ecb",
                    "type": "string"
                },
                "video": {
                    "description": "\u89c6\u9891",
                    "type": "string"
                },
                "doc": {
                    "description": "\u8bfe\u4ef6",
                    "type": "string"
                },
                "created_at": {
                    "description": "\u521b\u5efa\u65f6\u95f4\uff08\u65f6\u95f4\u6233\uff09",
                    "type": "integer"
                },
                "updated_at": {
                    "description": "\u66f4\u65b0\u65f6\u95f4\uff08\u65f6\u95f4\u6233\uff09",
                    "type": "integer"
                }
            }
        },
        "Instructor": {
            "properties": {
                "id": {
                    "description": "ID",
                    "type": "string"
                },
                "name": {
                    "description": "\u5bfc\u5e08\u540d",
                    "type": "integer"
                },
                "avatar": {
                    "description": "\u5934\u50cf",
                    "type": "string"
                },
                "title": {
                    "description": "\u5934\u8854",
                    "type": "string"
                },
                "tags": {
                    "description": "\u6807\u7b7e",
                    "type": "string"
                },
                "abstract": {
                    "description": "\u7b80\u4ecb",
                    "type": "string"
                },
                "created_at": {
                    "description": "\u521b\u5efa\u65f6\u95f4\uff08\u65f6\u95f4\u6233\uff09",
                    "type": "integer"
                },
                "updated_at": {
                    "description": "\u66f4\u65b0\u65f6\u95f4\uff08\u65f6\u95f4\u6233\uff09",
                    "type": "integer"
                }
            }
        },
        "Pronunciation": {
            "properties": {
                "id": {
                    "description": "ID",
                    "type": "string"
                },
                "word": {
                    "description": "\u5355\u8bcd",
                    "type": "string"
                },
                "audio": {
                    "description": "\u97f3\u9891\u5730\u5740",
                    "type": "string"
                },
                "created_at": {
                    "description": "\u521b\u5efa\u65f6\u95f4\uff08\u65f6\u95f4\u6233\uff09",
                    "type": "integer"
                },
                "updated_at": {
                    "description": "\u66f4\u65b0\u65f6\u95f4\uff08\u65f6\u95f4\u6233\uff09",
                    "type": "integer"
                }
            }
        },
        "CourseType": {
            "properties": {
                "id": {
                    "description": "ID",
                    "type": "integer"
                },
                "name": {
                    "description": "\u8bfe\u7a0b\u7c7b\u578b",
                    "type": "string"
                },
                "created_at": {
                    "description": "\u521b\u5efa\u65f6\u95f4\uff08\u65f6\u95f4\u6233\uff09",
                    "type": "integer"
                },
                "updated_at": {
                    "description": "\u66f4\u65b0\u65f6\u95f4\uff08\u65f6\u95f4\u6233\uff09",
                    "type": "integer"
                }
            }
        },
        "User": {
            "properties": {
                "id": {
                    "description": "ID",
                    "type": "integer"
                },
                "email": {
                    "description": "\u90ae\u7bb1",
                    "type": "string"
                },
                "firstname": {
                    "description": "\u540d\u79f0",
                    "type": "string"
                },
                "lastname": {
                    "description": "\u59d3\u6c0f",
                    "type": "string"
                },
                "sex": {
                    "description": "\u6027\u522b",
                    "type": "integer"
                },
                "avatar": {
                    "description": "\u5934\u50cf",
                    "type": "string"
                },
                "phone": {
                    "description": "\u7535\u8bdd",
                    "type": "string"
                },
                "country": {
                    "description": "\u56fd\u5bb6",
                    "type": "string"
                },
                "city": {
                    "description": "\u57ce\u5e02",
                    "type": "string"
                },
                "adderss_1": {
                    "description": "\u5730\u57401",
                    "type": "string"
                },
                "adderss_2": {
                    "description": "\u5730\u57402",
                    "type": "string"
                },
                "created_at": {
                    "description": "\u521b\u5efa\u65f6\u95f4\uff08\u65f6\u95f4\u6233\uff09",
                    "type": "integer"
                },
                "updated_at": {
                    "description": "\u66f4\u65b0\u65f6\u95f4\uff08\u65f6\u95f4\u6233\uff09",
                    "type": "integer"
                }
            }
        }
    },
    "tags": [
        {
            "name": "Course",
            "description": "\u8bfe\u7a0b"
        },
        {
            "name": "Favorite",
            "description": "\u6536\u85cf"
        },
        {
            "name": "Instructor",
            "description": "\u5bfc\u5e08"
        },
        {
            "name": "Media",
            "description": "\u5a92\u4f53\u5e93"
        },
        {
            "name": "Page",
            "description": "\u9875\u9762"
        },
        {
            "name": "User",
            "description": "\u7528\u6237"
        }
    ]
}